body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    background-color: teal;
    padding: 30px 40px;
    font-size: 2rem;
    border: 0;
    outline: 0;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

a::before {
    content: "";
    position: absolute;
    background-color: orangered;
    width: 0px;
    height: 0px;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width .4s, height .5s;
}

a:hover::before {
    width: 300px;
    height: 300px;
}

a span {
    position: relative;
    z-index: 1;
}