body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    background-color: blueviolet;
    width: 500px;
    height: 600px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
}

.head-container h1 {
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    font-size: 2rem;
}

.userChoice {
    width: 70%;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
}

.btn {
    padding: 10px;
    width: 70px;
    font-size: 1rem;
}

.msg-container {
    font-size: 2rem;
    padding: 50px;
}