body {
    margin: 0;
    padding: 20px;
}

.image-head {
    margin-top: 50px;
    border-top: 1px solid black;
}

.image {
    margin-top: 20px;
    border-top: 1px solid black;
}

.form {
    margin-top: 20px;
    border-top: 1px solid black;
}

label {
    padding: 20px 10px;
}

a {
    display: block;
}

input {
    display: block;
}